# laravel default
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

# vim backup files
*~
*.swp
*.swo

# ignore storage files
/app/storage

# ignore all local config files..
/app/config/local
/app/config/gsl
/app/config/demo
/app/config/packages
