body {
    background-color: #888;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
}

a img {
    border: none;
}

a {
    color: #4183C4;
}

.inactive td {
	color: #999;
}

.inactive td a {
	color: #999;
}

table { margin: 1em; border-collapse: collapse; }

td {
	padding: .3em;
	border-top: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
}

th {
	padding: .3em;
	border-bottom: 1px #ccc solid;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

#container {
    width: 600px;
    margin: 0 auto;
    background-color: #FFF;
    padding: 20px 40px;
    border: solid 1px black;
    margin-top: 20px;
	color: #333;
}

#title h1 {
	padding: 10px 0px 0px 0px;
}

#title h2 {
	font-size: 18px;
	padding: 0px 0px 10px 0px;
}

#footer {
	padding-top: 20px;
	text-align: center;
	font-size: 10px;
}

#flash_notice, #flash_error {
    padding: 5px 8px;
    margin: 10px 0;
}

#flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
}

#flash_error {
    background-color: #FCC;
    border: solid 1px #C66;
}

/*---- CROSS BROWSER DROPDOWN MENU ----*/
ul#nav {margin: 0 0 1em 0;}
ul.drop a { display:block; color: #fff; font-family: Verdana; font-size: 14px; text-decoration: none;}
ul.drop, ul.drop li, ul.drop ul { list-style: none; margin: 0; padding: 0; border: 1px solid #fff; background: #555; color: #fff;}
ul.drop { position: relative; z-index: 597; float: left; }
ul.drop li { float: left; line-height: 1.3em; vertical-align: middle; zoom: 1; padding: 5px 10px; }
ul.drop li.hover, ul.drop li:hover { position: relative; z-index: 599; cursor: default; background: #1e7c9a; }
ul.drop ul { visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; width: 195px; background: #555; border: 1px solid #fff; }
ul.drop ul li { float: none; }
ul.drop ul ul { top: -2px; left: 100%; }
ul.drop li:hover > ul { visibility: visible }

input[type=text],
input[type=password],
textarea {
}
