body {
    background-color: #888;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
}

a img {
    border: none;
}

a {
    color: #4183C4;
}

.inactive td {
	color: #999;
}

.inactive td a {
	color: #999;
	cursor:not-allowed;
}

table { margin: 1em; border-collapse: collapse; }

td {
	padding: .3em;
	border-top: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
}

th {
	padding: .3em;
	border-bottom: 1px #ccc solid;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

#container {
    width: 600px;
    margin: 0 auto;
    background-color: #FFF;
    padding: 20px 40px;
    border: solid 1px black;
    margin-top: 20px;
	color: #333;
}

#title h1 {
	padding: 10px 0px 0px 0px;
}

#title h2 {
	font-size: 18px;
	padding: 0px 0px 10px 0px;
}

#footer {
	padding-top: 20px;
	text-align: center;
	font-size: 10px;
}

#flash_notice, #flash_error {
    padding: 5px 8px;
    margin: 10px 0;
}

#flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
}

#flash_error {
    background-color: #FCC;
    border: solid 1px #C66;
}

/*---- CROSS BROWSER DROPDOWN MENU ----*/
ul#nav {margin: 0 0 1em 0;}
ul.drop a { display:block; color: #fff; font-family: Verdana; font-size: 14px; text-decoration: none;}
ul.drop, ul.drop li, ul.drop ul { list-style: none; margin: 0; padding: 0; border: 1px solid #fff; background: #555; color: #fff;}
ul.drop { position: relative; z-index: 597; float: left; }
ul.drop li { float: left; line-height: 1.3em; vertical-align: middle; zoom: 1; padding: 5px 10px; }
ul.drop li.hover, ul.drop li:hover { position: relative; z-index: 599; cursor: default; background: #1e7c9a; }
ul.drop ul { visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; width: 195px; background: #555; border: 1px solid #fff; }
ul.drop ul li { float: none; }
ul.drop ul ul { top: -2px; left: 100%; }
ul.drop li:hover > ul { visibility: visible }

input[type=text],
input[type=password],
textarea {
}

/*---- PAGINATION FROM TWITTER BOOTSTRAP V.3.0.0 ----*/

.pagination{
	display:inline-block;
	padding-left:0;
	margin:20px 0;
	border-radius:4px
}

.pagination>li{
	display:inline
}

.pagination>li>a,.pagination>li>span{
	position:relative;
	float:left;
	padding:3px 6px;
	margin-left:-1px;
	line-height:1.428571429;
	text-decoration:none;
	background-color:#fff;
	border:1px solid #ddd
}

.pagination>li:first-child>a,.pagination>li:first-child>span{
	margin-left:0;
	border-bottom-left-radius:4px;
	border-top-left-radius:4px
}

.pagination>li:last-child>a,.pagination>li:last-child>span{
	border-top-right-radius:4px;
	border-bottom-right-radius:4px
}

.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus{
	background-color:#eee
}

.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{
	z-index:2;
	color:#fff;
	cursor:default;
	background-color:#428bca;
	border-color:#428bca
}

.pagination>.disabled>span,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus{
	color:#999;
	cursor:not-allowed;
	background-color:#fff;
	border-color:#ddd
}

.pagination-lg>li>a,.pagination-lg>li>span{
	padding:10px 16px;
	font-size:18px
}

.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{
	border-bottom-left-radius:6px;
	border-top-left-radius:6px
}

.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{
	border-top-right-radius:6px;
	border-bottom-right-radius:6px
}

.pagination-sm>li>a,.pagination-sm>li>span{
	padding:5px 10px;
	font-size:12px
}

.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{
	border-bottom-left-radius:3px;
	border-top-left-radius:3px
}

.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{
	border-top-right-radius:3px;
	border-bottom-right-radius:3px
}

